.user-info {
  display: flex;
  flex-direction: column;
}
.user-info__row {
  display: flex;
  width: auto;
  justify-content: space-between;
}
.user-info__row__column {
  flex-direction: column;
}
.row {
  min-height: 30px;
}
.row__name {
  font-size: large;
  font-weight: 500;
}
.row__value {
  font-size: large;
}
